<?php
/**
 * SendEmailConflictsApi
 * PHP version 5
 *
 * @category Class
 * @package  Spinen\ConnectWise\Clients\Mobile
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Mobile API
 *
 * ConnectWise Mobile API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: platform@connectwise.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Spinen\ConnectWise\Clients\Mobile\Api;

use \Spinen\ConnectWise\Clients\Mobile\ApiClient;
use \Spinen\ConnectWise\Clients\Mobile\ApiException;
use \Spinen\ConnectWise\Clients\Mobile\Configuration;
use \Spinen\ConnectWise\Clients\Mobile\ObjectSerializer;

/**
 * SendEmailConflictsApi Class Doc Comment
 *
 * @category Class
 * @package  Spinen\ConnectWise\Clients\Mobile
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class SendEmailConflictsApi
{
    /**
     * API Client
     *
     * @var \Spinen\ConnectWise\Clients\Mobile\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Spinen\ConnectWise\Clients\Mobile\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Spinen\ConnectWise\Clients\Mobile\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Spinen\ConnectWise\Clients\Mobile\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Spinen\ConnectWise\Clients\Mobile\ApiClient $apiClient set the API client
     *
     * @return SendEmailConflictsApi
     */
    public function setApiClient(\Spinen\ConnectWise\Clients\Mobile\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation mobileEmailsConflictPost
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Mobile API generated by Swagger Code Generator.
     *
     * @param \Spinen\ConnectWise\Clients\Mobile\Model\EmailConflictRequest $request  (required)
     * @throws \Spinen\ConnectWise\Clients\Mobile\ApiException on non-2xx response
     * @return void
     */
    public function mobileEmailsConflictPost($request)
    {
        list($response) = $this->mobileEmailsConflictPostWithHttpInfo($request);
        return $response;
    }

    /**
     * Operation mobileEmailsConflictPostWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Mobile API generated by Swagger Code Generator.
     *
     * @param \Spinen\ConnectWise\Clients\Mobile\Model\EmailConflictRequest $request  (required)
     * @throws \Spinen\ConnectWise\Clients\Mobile\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function mobileEmailsConflictPostWithHttpInfo($request)
    {
        // verify the required parameter 'request' is set
        if ($request === null) {
            throw new \InvalidArgumentException('Missing the required parameter $request when calling mobileEmailsConflictPost');
        }
        // parse inputs
        $resourcePath = "/mobile/emails/conflict";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($request)) {
            $_tempBody = $request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/mobile/emails/conflict'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Mobile\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
